.text {
  position: absolute;
  bottom: 31px;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.25px;
  text-align: center;
}

@media screen and (max-width: 550px) {
  .text {
    bottom: 15px;
    font-size: 12px;
  }
}